body {
  background-color: darkblue;
  color: lightgreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
}
.app-container {
  text-align: center;
}
.square {
  background-color: darkslategrey;
  border: 5px rgb(250, 60, 60) double;
  font-size: 4.1rem;
  float: left;
  font-weight: bold;

  padding: 0;

  text-align: center;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  border-radius: 5px;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.game {
  width: 70%;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  padding-right: 15px;
  margin-left: 18%;
  margin-top: 7%;
}

.game-info {
  margin-top: 120px;
  min-width: 250px;
  width: 100%;
  height: 100%;
}
.status {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.title-h1 {
  width: 100%;
  margin-bottom: 10px;
  color: yellow;
  font-size: 2.5rem;
  text-align: center;
}
.history-button {
  font-size: 1.2rem;
  background: hotpink;
  color: darkblue;
}
.history-list {
  list-style: none;
}
.row {
  display: inline-flex;
  flex-direction: row;
}
.board-container {
  margin-top: 10%;
  margin-left: 10%;
}
.form-div {
  margin-top: 120px;
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  align-items: center;
}
.form1 {
  margin-bottom: 15px;
  min-width: 100%;
}
.form2 {
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: 100%;
}
@media screen and (max-width: 600px) {
  .game-info {
    max-width: 100px;
  }
  .square {
    height: 35px;
    width: 35px;
    font-size: 1.4rem;
  }
  .game {
    text-align: center;
    max-width: 125px;
    margin: 0 auto;
  }
  .title-h1 {
  }
}
@media screen and (max-width: 1000px) {
  .game-info {
    max-width: 175px;
    padding-left: 15px;
  }
  .board-container {
    padding-right: 15px;
  }
  .game {
    max-width: 175px;
    margin: 0 auto;
  }
  .square {
    height: 55px;
    width: 55px;
    font-size: 2rem;
  }
  .title-h1 {
  }
}

@media screen and (max-width: 778px) {
  .game-info {
    max-width: 150px;
  }
  .game {
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15%;
  }
  .square {
    height: 45px;
    width: 45px;
    font-size: 1.8rem;
    border: 2px rgb(250, 60, 60) double;
  }
  .board-container {
    min-width: 170px;
  }
  .row {
    flex-wrap: none;
  }
  .history-button {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .title-h1 {
    font-size: 2rem;
  }
  body {
    font-size: 20px;
  }
  .game-info {
    display: inline-flex;
    flex-direction: column;
    min-width: 170px;

    font-size: 1.3rem;
    font-weight: bold;
  }
}
