body {
  background-color: darkblue;
  color: lightgreen;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
}
.square {
  background-color: darkslategrey;
  border: 5px rgb(250, 60, 60) double;
  font-size: 7.5rem;
  float: left;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0 auto;
}
ul {
  padding-left: 30px;
}
.game-info {
  margin-left: 20px;
  min-width: 250px;
  margin-top: -6%;
}
.status {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.title-h1 {
  color: yellow;
  font-size: 2.5rem;
  text-align: center;
}
.history-button {
  font-size: 1.2rem;
  background: hotpink;
  color: darkblue;
}
.history-list {
  list-style: none;
}
.row {
  display: inline-flex;
  flex-direction: row;
}
.board-container {
  padding-top: -25%;
  margin-right: 25px;
}
@media screen and (max-width: 778px) {
  .square {
    height: 50px;
    width: 50px;
    font-size: 2.2rem;
    border: 2px rgb(250, 60, 60) double;
  }
  .board-container {
    min-width: 170px;
    padding-top: -15%;
  }
  .row {
    flex-wrap: none;
  }
  .history-button {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .title-h1 {
    font-size: 2rem;
  }
  body {
    font-size: 20px;
  }
  .game-info {
    display: inline-flex;
    flex-direction: column;
    min-width: 170px;
    padding-left: 10%;
    padding-top: -17%;
    font-size: 1.3rem;
    font-weight: bold;
  }
}
