body {
  background: black;
  color: lightgreen;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 25px;
}
.square {
  background-color: darkslategrey;
  border: 5px rgb(250, 60, 60) double;
  font-size: 70px;
  float: left;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0 auto;
}
ul {
  padding-left: 30px;
}
.game-info {
  margin-left: 20px;
}
.status {
  margin-bottom: 10px;
}
h1 {
  color: lightyellow;
  font-size: 2.5rem;
  text-align: center;
}
